@charset "UTF-8";

$red : #dc3c38;
$gray : #cecece;
$yellow : #f7b703;
$bgSize : 250px 700px;

body, div, dl, dt, dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{margin:0;padding:0;}

table{border-collapse:collapse;border-spacing:0;}

fieldset,img {border:0;}

address,caption, cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}

ol,ul {list-style:none;}

capation,th{text-align:left;}

h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}

q:before, q:after{content:' '}

abbr,acronym{border:0;}

html{
    font-size: 10px;
}
*{
    box-sizing : border-box;
}
body{
    font-style: '微软雅黑';
    font-size:1.2rem;
    line-height: 2.4em;
    color: #a3a3a3;
    background: #fff;
}

input{
    outline: none;
    border:none;
}

a{
    text-decoration: none;
}
/******   common   ******/
.fred{
    color: $red;
}
.mt15{
    margin-top: 15px;
}
.container{
    padding-left: 10px;
    padding-right: 10px;
}

.img-responsive{
    display: block;
    max-width: 100%;
    height: auto;
}

.borb {
  position: relative;
}
.borb:before {
  content: '';
  display: block;
  width: 100%;
  border-bottom: 1px solid #e8e8e8;
  position: absolute;
  left: 0;
  bottom: -1px;
  transform: scaleY(0.5);
}

.red{
    color: $red;
}

/******   header   ******/
#header,#headerPool {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    height: 4.4rem;
    width: 100%;
    background: $red;
    overflow: hidden;
    -ms-touch-action: none;
    z-index: 99;
}

#scroller,#scrollerPool {
    position: absolute;
    z-index: 1;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    width: 380px;
    height: 4.4rem;
    line-height: 4.4rem;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    text-size-adjust: none;
}

#scroller ul,#scrollerPool ul {
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;
}

#scroller li,#scrollerPool li {
    width: 90px;
    height: 4.4rem;
    float: left;
    line-height: 4.4rem;
    background-color: $red;
    font-size: 1.4rem;
    overflow: hidden;
    text-align: center;
    color: #fff;
    transition: all .4s;
    &.active{
        background: #c9312d;
        transition: all .4s;
    }
}

#headerPool,#scrollerPool,#scrollerPool li{
    height:3.6rem;
    line-height: 3.6rem;
    color:#333;
    background:#fff;
}

#scrollerPool li.active{
    background:#fff;
    span{
        border-bottom: 2px solid $red;
        padding-bottom: 5px;
    }
}

/******   footer   ******/
.footer{
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;
    line-height: 12px;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    box-shadow: 0 0px 6px 2px #e5e5e5;
    padding: 5px 0;
    background: #fff;
    a{
        display: block;
        flex : 1;
        color: $gray;
        text-align: center;
        .icon{
            display: inline-block;
            width: 2.4rem;
            height: 2.4rem;
            background-image:url('../images/icon.png') ;
            background-size : $bgSize;
            background-repeat:no-repeat;
            &.icon-searchd{
                background-position: -39px -39px;
            }
            &.icon-care{
                background-position: -39px -76px;
            }
            &.icon-pool{
                 background-position: -39px -111px;
            }
            &.icon-rmd{
                background-position: -41px -145px;
            }
        }
        &.active{
            color: $yellow;
            .icon{
                &.icon-searchd{
                    background-position: -75px -39px;
                }
                &.icon-care{
                    background-position: -75px -76px;
                }
                &.icon-pool{
                    background-position: -75px -111px;
                }
                &.icon-rmd{
                    background-position: -77px -145px;
                }
            } 
        }
    }
}


/******   login   ******/
.login-bg img{
    width : 100%;
}
.login{
    padding-bottom: 7rem;
}
.login-input-box{
    display: flex;
    margin-top: 25px;
    .login-input{
        flex : 1;
        input{
            width: 100%;
            padding-right: 10px;
            padding-bottom: 10px;
        }
        .icon{
            position:relative;
            padding-left: 26px;
            &.icon-phone{
                padding-top: 5px;
                background-image:url('../images/icon.png') ;
                background-size : $bgSize;
                background-repeat:no-repeat;
                background-position: -145px -432px;
            }
            &.icon-code{
                margin-top: 10px;
                padding-top: 5px;
                background-image:url('../images/icon.png') ;
                background-size : $bgSize;
                background-repeat:no-repeat;
                background-position: -145px -467px;
            }
        }
    }
    .btn-code{
        width: 142px;
        padding-left: 10px;
        span{
            display: inline-block;
            width: 130px;
            height: 40px;
            line-height: 40px;
            text-align: center;
            color: $red;
            border : 1px solid $red;
            border-radius: 4px;
            cursor: pointer;
        }
    }
}

.login-tip{
    margin-top: 2em;
    line-height: 2.2rem;
    padding: 0 10px;
}
.login-submit{
    display: block;
    width: 100%;
    height: 4rem;
    line-heigrht: 4rem;
    margin-top: 2rem;
    background: $red;
    color: #fff;
    text-align: center;
    outline: none;
    border-radius: 4px;
}

#error{
    height:4rem;
    line-height: 4rem;
    text-align: center;
    color:$red;
    display:none;
}

/******   login   ******/
.search{
    position: absolute;
    top: 4.4rem;
    left: 0;
    right: 0;
    padding-bottom: 5.4rem;
    .search-item{
        border-bottom: 1px solid #e5e5e5;
        padding-bottom: 10px;
        margin-bottom: 5px;
        &:last-child{
            border-bottom:none;
        }
        .search-head{
            color: $red;
            margin-bottom: 4px;
            i{
                display:block;
                width:16px;
                height:16px;
                background-image:url('../images/icon.png') ;
                background-size : $bgSize;
                background-repeat:no-repeat;
                background-position: -151px -117px;
                float : right;
                margin-top: 6px;
                margin-right: 10px;
                cursor:pointer;
            }
        }
        .search-body{
            line-height: 2.2rem;
        }
        .search-foot{
            text-align: right;
            margin-top: -5px;
            &>span{
                display: inline-block;
                width: 62px;
                height: 26px;
                line-height : 26px;
                color: #fff;
                text-align: right;
                padding-right: 10px;
                border-radius: 4px;
                background-image:url('../images/icon.png') ;
                background-size : $bgSize;
                background-repeat:no-repeat;
                background-color: $red;
                background-position: -145px -41px;
                transition: all .4s;
                &.active{
                    padding-right: 5px;
                    background-position: -145px -73px;
                    background-color: $gray;
                    transition: all .4s;
                }
            }
        }
    }
    .div-button{
        height : 4rem;
        line-height: 4rem;
        text-align: center;
        color:$yellow;
        border : 1px solid $yellow;
        border-radius: 4px;
    }
}

/******   tag   ******/
.tag{
    padding: 5rem 30px 10px 30px;
    height: 180px;
    span{
        border : 1px solid #ddd;
        display: inline-block;
        width: 62px;
        height: 24px;
        line-height: 24px;
        text-align: center;
        margin: 5px 8px;
        border-radius: 4px;
    }
    .swiper-button-next{
        background-size: $bgSize;
        background-image: url(../images/icon.png);
        background-position: -145px -242px;
    }
    .swiper-button-prev{
        background-size: $bgSize;
        background-image: url(../images/icon.png);
        background-position: -109px -242px;
    }
    .swiper-wrapper{
        height: 100px;
    }
    .swiper-mes{
        line-height: 40px;
        text-align: center;
        i{
            font-style: normal;
        }
    }
}

.tag-check{
    padding-top: 0px;
    .check-txt{
        padding-left: 8px;
        line-height: 4rem;
    } 
    .check-tags{
        span{
            position: relative;
            i{
                display: block;
                width: 13px;
                height: 13px;
                background-size: $bgSize;
                background-image: url(../images/icon.png);
                background-position: -153px -153px;
                position: absolute;
                top: -6px;
                right: -6px;
            }
        }
    }  
    .check-btn{
        display: flex;
        padding:0 8px;
        margin-top: 15px;
        a{
            display: block;
            color: #fff;
            flex:1;
            font-size: 1.4rem;
            text-align: center;
            &:first-child{
                padding-right:10px;
                strong{
                    display: block;
                    height: 3.6rem;
                    line-height: 3.6rem;
                    border-radius: 4px;
                    background:$yellow;
                }
            }
            &:last-child{
                padding-left:10px;
                strong{
                    display: block;
                    height: 3.6rem;
                    line-height: 3.6rem;
                    border-radius: 4px;
                    background:$red;
                }
            }
        }
    }
}

/******   screen   ******/
.srceen{
    padding: 0 15px;
    padding-bottom: 6rem;
    text-align: center;
    color: #999;
    .srceen-txt{
        margin-bottom: 5px;
    }
    .screen-main{
        .screen-item{
            color: #000;
            display: flex;
            line-height: 4rem;
            &:nth-child(odd){
                background:#fff0ea;
            }
            &>div{
                flex:1;
                &.item-col-1{
                    line-height: 1.8rem;
                    padding-top: 0.2rem;
                    &>span{
                        display: block;
                    }
                }
                &.item-col-4{
                    a{
                        display: inline-block;
                        width: 17px;
                        height: 17px;
                        margin:0 5px;
                        background-size: $bgSize;
                        background-image: url(../images/icon.png);
                        position: relative;
                        top: 2px;
                        &:first-child{
                            background-position:-150px -186px;
                        }
                        &:last-child{
                            background-position:-150px -221px;
                        }
                    }
                }
            }
        }
    }
    .load-more{
        margin-top: 5px;
        color: #999999;
        i{
            display: inline-block;
            width: 20px;
            height: 20px;
            background-size: $bgSize;
            background-image: url(../images/icon.png);
            background-position: -149px -613px;
            position: relative;
            top: 5px;
            right: 5px;
        }
    }
}