<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qianlong.qltt.us.mapper.app.TUSSysPltDailyCallMapper" >
  <resultMap id="BaseResultMap" type="com.qianlong.qltt.us.domain.app.TUSSysPltDailyCall" >
    <id column="Fs_appid" property="fsAppid" jdbcType="VARCHAR" />
    <id column="Fs_ptlno" property="fsPtlno" jdbcType="VARCHAR" />
    <id column="Ft_ptllastcalltime" property="ftPtllastcalltime" jdbcType="DATE" />
    <result column="Fi_ptlcallnum" property="fiPtlcallnum" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    Fs_appid, Fs_ptlno, Ft_ptllastcalltime, Fi_ptlcallnum
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.qianlong.qltt.us.domain.app.TUSSysPltDailyCallExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tussyspltdailycall
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.qianlong.qltt.us.domain.app.TUSSysPltDailyCallKey" >
    select 
    <include refid="Base_Column_List" />
    from tussyspltdailycall
    where Fs_appid = #{fsAppid,jdbcType=VARCHAR}
      and Fs_ptlno = #{fsPtlno,jdbcType=VARCHAR}
      and Ft_ptllastcalltime = #{ftPtllastcalltime,jdbcType=DATE}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.qianlong.qltt.us.domain.app.TUSSysPltDailyCallKey" >
    delete from tussyspltdailycall
    where Fs_appid = #{fsAppid,jdbcType=VARCHAR}
      and Fs_ptlno = #{fsPtlno,jdbcType=VARCHAR}
      and Ft_ptllastcalltime = #{ftPtllastcalltime,jdbcType=DATE}
  </delete>
  <delete id="deleteByExample" parameterType="com.qianlong.qltt.us.domain.app.TUSSysPltDailyCallExample" >
    delete from tussyspltdailycall
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.qianlong.qltt.us.domain.app.TUSSysPltDailyCall" >
    insert into tussyspltdailycall (Fs_appid, Fs_ptlno, Ft_ptllastcalltime, 
      Fi_ptlcallnum)
    values (#{fsAppid,jdbcType=VARCHAR}, #{fsPtlno,jdbcType=VARCHAR}, #{ftPtllastcalltime,jdbcType=DATE}, 
      #{fiPtlcallnum,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.qianlong.qltt.us.domain.app.TUSSysPltDailyCall" >
    insert into tussyspltdailycall
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fsAppid != null" >
        Fs_appid,
      </if>
      <if test="fsPtlno != null" >
        Fs_ptlno,
      </if>
      <if test="ftPtllastcalltime != null" >
        Ft_ptllastcalltime,
      </if>
      <if test="fiPtlcallnum != null" >
        Fi_ptlcallnum,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fsAppid != null" >
        #{fsAppid,jdbcType=VARCHAR},
      </if>
      <if test="fsPtlno != null" >
        #{fsPtlno,jdbcType=VARCHAR},
      </if>
      <if test="ftPtllastcalltime != null" >
        #{ftPtllastcalltime,jdbcType=DATE},
      </if>
      <if test="fiPtlcallnum != null" >
        #{fiPtlcallnum,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.qianlong.qltt.us.domain.app.TUSSysPltDailyCallExample" resultType="java.lang.Integer" >
    select count(*) from tussyspltdailycall
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tussyspltdailycall
    <set >
      <if test="record.fsAppid != null" >
        Fs_appid = #{record.fsAppid,jdbcType=VARCHAR},
      </if>
      <if test="record.fsPtlno != null" >
        Fs_ptlno = #{record.fsPtlno,jdbcType=VARCHAR},
      </if>
      <if test="record.ftPtllastcalltime != null" >
        Ft_ptllastcalltime = #{record.ftPtllastcalltime,jdbcType=DATE},
      </if>
      <if test="record.fiPtlcallnum != null" >
        Fi_ptlcallnum = #{record.fiPtlcallnum,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tussyspltdailycall
    set Fs_appid = #{record.fsAppid,jdbcType=VARCHAR},
      Fs_ptlno = #{record.fsPtlno,jdbcType=VARCHAR},
      Ft_ptllastcalltime = #{record.ftPtllastcalltime,jdbcType=DATE},
      Fi_ptlcallnum = #{record.fiPtlcallnum,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.qianlong.qltt.us.domain.app.TUSSysPltDailyCall" >
    update tussyspltdailycall
    <set >
      <if test="fiPtlcallnum != null" >
        Fi_ptlcallnum = #{fiPtlcallnum,jdbcType=INTEGER},
      </if>
    </set>
    where Fs_appid = #{fsAppid,jdbcType=VARCHAR}
      and Fs_ptlno = #{fsPtlno,jdbcType=VARCHAR}
      and Ft_ptllastcalltime = #{ftPtllastcalltime,jdbcType=DATE}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qianlong.qltt.us.domain.app.TUSSysPltDailyCall" >
    update tussyspltdailycall
    set Fi_ptlcallnum = #{fiPtlcallnum,jdbcType=INTEGER}
    where Fs_appid = #{fsAppid,jdbcType=VARCHAR}
      and Fs_ptlno = #{fsPtlno,jdbcType=VARCHAR}
      and Ft_ptllastcalltime = #{ftPtllastcalltime,jdbcType=DATE}
  </update>
</mapper>