@charset "UTF-8";

$red : #dc3c38;
$red-active:#BB322F;
$black :#333;
$darkgray :#666;
$gray : #999;
$yellow : #f7b703;
$bgSize : 250px 700px;

@mixin flexBox () {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

@mixin flex ($sizing) {
    -webkit-box-flex: $sizing;
        -webkit-flex: $sizing;
            -ms-flex: $sizing;
                flex: $sizing; 
}

body, div, dl, dt, dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{margin:0;padding:0;}

table{border-collapse:collapse;border-spacing:0;}

fieldset,img {border:0;}

address,caption, cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}

ol,ul {list-style:none;}

capation,th{text-align:left;}

h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}

q:before, q:after{content:' '}

abbr,acronym{border:0;}

input[type="button"], input[type="submit"], input[type="reset"] {
  -webkit-appearance: none;
}

html{
    font-size: 10px;
}
*{
    box-sizing : border-box;
}
body{
    font-style: '微软雅黑';
    font-size:1.2rem;
    line-height: 2.4em;
    color: #a3a3a3;
    background: #fff;
}

input{
    outline: none;
    border:none;
}

a{
    text-decoration: none;
}
/******   common   ******/
.fred{
    color: $red;
}
.mt15{
    margin-top: 15px;
}
.container{
    padding-left: 10px;
    padding-right: 10px;
}

.img-responsive{
    display: block;
    max-width: 100%;
    height: auto;
}

.borb {
  position: relative;
}
.borb:before {
  content: '';
  display: block;
  width: 100%;
  border-bottom: 1px solid #e8e8e8;
  position: absolute;
  left: 0;
  bottom: -1px;
  transform: scaleY(0.5);
}

.red{
    color: $red;
}

/******   header   ******/
#header,#headerPool {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    height: 4.4rem;
    width: 100%;
    background: $red;
    overflow: hidden;
    -ms-touch-action: none;
    z-index: 99;
    box-shadow: 0 2px 15px 1px rgba(255,255,255,0.8);
}

#scroller,#scrollerPool {
    position: absolute;
    z-index: 1;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    width: 380px;
    height: 4.4rem;
    line-height: 4.4rem;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    text-size-adjust: none;
}

#scroller ul,#scrollerPool ul {
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;
}

#scroller li,#scrollerPool li {
    width: 90px;
    height: 4.4rem;
    float: left;
    line-height: 4.4rem;
    background-color: $red;
    font-size: 1.4rem;
    overflow: hidden;
    text-align: center;
    color: #fff;
    transition: all .4s;
    &.active{
        background: #c9312d;
        transition: all .4s;
    }
}

#headerPool,#scrollerPool,#scrollerPool li{
    height:3.6rem;
    line-height: 3.6rem;
    color:#333;
    background:#fff;
}

#scrollerPool li.active{
    background:#fff;
    span{
        border-bottom: 2px solid $red;
        padding-bottom: 5px;
    }
}

/******   footer   ******/
.footer{
    @include flexBox();
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;
    line-height: 12px;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    box-shadow: 0 0px 6px 2px #e5e5e5;
    padding: 5px 0;
    background: #fff;
    a{
        display: block;
        @include flex(1);
        color: $gray;
        text-align: center;
        .icon{
            display: inline-block;
            width: 2.4rem;
            height: 2.4rem;
            background-image:url('../images/icon.png') ;
            background-size : $bgSize;
            background-repeat:no-repeat;
            &.icon-searchd{
                background-position: -39px -39px;
            }
            &.icon-care{
                background-position: -39px -76px;
            }
            &.icon-pool{
                 background-position: -39px -111px;
            }
            &.icon-rmd{
                background-position: -41px -145px;
            }
        }
        &.active{
            color: $yellow;
            .icon{
                &.icon-searchd{
                    background-position: -75px -39px;
                }
                &.icon-care{
                    background-position: -75px -76px;
                }
                &.icon-pool{
                    background-position: -75px -111px;
                }
                &.icon-rmd{
                    background-position: -77px -145px;
                }
            } 
        }
    }
}


/******   login   ******/
.login-bg img{
    width : 100%;
}
.login{
    padding-bottom: 7rem;
}
.login-input-box{
    @include flexBox();

    margin-top: 25px;
    .login-input{
        @include flex(1);
        input{
            width: 100%;
            padding-right: 10px;
            padding-bottom: 10px;
            font-size: 1.4rem;
        }
        .icon{
            position:relative;
            padding-left: 26px;
            &.icon-phone{
                padding-top: 5px;
                background-image:url('../images/icon.png') ;
                background-size : $bgSize;
                background-repeat:no-repeat;
                background-position: -145px -432px;
                &:focus{
                  border-bottom:0.1rem solid $red;
                  transition: all .2s;
                }
            }

            &.icon-code{
                margin-top: 10px;
                padding-top: 5px;
                background-image:url('../images/icon.png') ;
                background-size : $bgSize;
                background-repeat:no-repeat;
                background-position: -145px -467px;
              &:focus{
                border-bottom:0.1rem solid $red;
                transition: all .2s;
              }
            }
        }
    }
    .btn-code{
        width: 142px;
        padding-left: 10px;
        span{
            display: inline-block;
            width: 130px;
            height: 40px;
            line-height: 40px;
            text-align: center;
            color: $red;
            border : 1px solid $red;
            border-radius: 4px;
            cursor: pointer;
            &.disabled{
                color : #000;
                background:#ddd;
                border-color: #ddd;
            }
        }
    }
}



@media screen and (max-width: 360px){
  .btn-code{
      width: 100px;
      span{
        width: 100px;
      }
  }
}




.login-tip{
    margin-top: 2em;
    line-height: 2.2rem;
    padding: 0 10px;
}
.login-submit{
    display: block;
    width: 100%;
    height: 4rem;
    font-size:1.6rem;
    line-heigrht: 4rem;
    margin-top: 2rem;
    background: $red;
    color: #fff;
    text-align: center;
    outline: none;
    border-radius: 0.4rem;
  &:hover{
    background-color:#BB322F;
    transition: all .4s;
  }
}

#error{
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    text-align: center;
    display:none;
    z-index: 999;
    background-color: rgba(0,0,0,0);
    color:#fff;
    span{
        display:block;
        position:absolute;
        left:50%;
        top:50%;
        width:166px;
        height:50px;
        padding : 10px 0;
        font-size:1.4rem;
        margin-left: -84px;
        margin-top: -25px;
        text-align: center;
        display:block;
        z-index: 9999;
        background-color: rgba(0,0,0,0.5);
        border-radius: 4px; 
    }
}


/******   login   ******/
.login #error{ 
  transition: all .4s;
}
.search{
    position: absolute;
    top: 4.4rem;
    left: 0;
    right: 0;
    padding-bottom: 5.4rem;
    .search-item{
        border-bottom: 1px solid #e5e5e5;
        padding-bottom: 10px;
        margin-bottom: 5px;
        &:last-child{
            border-bottom:none;
        }
        .search-head{
            color: $red;
            margin-bottom: 4px;
            i{
                display:block;
                width:16px;
                height:16px;
                background-image:url('../images/icon.png') ;
                background-size : $bgSize;
                background-repeat:no-repeat;
                background-position: -151px -117px;
                float : right;
                margin-top: 6px;
                margin-right: 10px;
                cursor:pointer;
            }
        }
        .search-body{
            line-height: 2.2rem;
        }
        .search-foot{
            text-align: right;
            margin-top: -5px;
            &>span{
                display: inline-block;
                width: 62px;
                height: 26px;
                line-height : 26px;
                color: #fff;
                text-align: right;
                padding-right: 10px;
                border-radius: 4px;
                background-image:url('../images/icon.png') ;
                background-size : $bgSize;
                background-repeat:no-repeat;
                background-color: $red;
                background-position: -145px -41px;
                transition: all .4s;
                &.active{
                    padding-right: 5px;
                    background-position: -145px -73px;
                    background-color: $gray;
                    transition: all .4s;
                }
            }
        }
    }
    .div-button{
        height : 4rem;
        line-height: 4rem;
        text-align: center;
        color:$yellow;
        border : 1px solid $yellow;
        border-radius: 4px;
    }
}
/***contract***/
.ttxieyi{
    padding: 2rem;
    h2{
      font-size: 1.6rem;
      color:$black;
      text-align: center;
      margin-bottom: 1rem;
      margin-top: 1rem;

    }
    p{
      line-height:2.2rem;
      color:$darkgray;
    }

}

/******   loading   ******/
.qltt-toast {
    position: fixed;
    z-index: 5000;
    width: 7.6em;
    min-height: 7.6em;
    top: 180px;
    left: 50%;
    margin-left: -3.8em;
    background: rgba(17, 17, 17, 0.7);
    text-align: center;
    border-radius: 5px;
    color: #FFFFFF;
    opacity: 0;
    display:none;
}
.qltt-icon_toast {
    margin: 22px 0 0;
    display: block;
}
.qltt-loading {
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    -webkit-animation: qlttLoading 1s steps(12, end) infinite;
    animation: qlttLoading 1s steps(12, end) infinite;
    background: transparent url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMjAiIGhlaWdodD0iMTIwIiB2aWV3Qm94PSIwIDAgMTAwIDEwMCI+PHBhdGggZmlsbD0ibm9uZSIgZD0iTTAgMGgxMDB2MTAwSDB6Ii8+PHJlY3Qgd2lkdGg9IjciIGhlaWdodD0iMjAiIHg9IjQ2LjUiIHk9IjQwIiBmaWxsPSIjRTlFOUU5IiByeD0iNSIgcnk9IjUiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDAgLTMwKSIvPjxyZWN0IHdpZHRoPSI3IiBoZWlnaHQ9IjIwIiB4PSI0Ni41IiB5PSI0MCIgZmlsbD0iIzk4OTY5NyIgcng9IjUiIHJ5PSI1IiB0cmFuc2Zvcm09InJvdGF0ZSgzMCAxMDUuOTggNjUpIi8+PHJlY3Qgd2lkdGg9IjciIGhlaWdodD0iMjAiIHg9IjQ2LjUiIHk9IjQwIiBmaWxsPSIjOUI5OTlBIiByeD0iNSIgcnk9IjUiIHRyYW5zZm9ybT0icm90YXRlKDYwIDc1Ljk4IDY1KSIvPjxyZWN0IHdpZHRoPSI3IiBoZWlnaHQ9IjIwIiB4PSI0Ni41IiB5PSI0MCIgZmlsbD0iI0EzQTFBMiIgcng9IjUiIHJ5PSI1IiB0cmFuc2Zvcm09InJvdGF0ZSg5MCA2NSA2NSkiLz48cmVjdCB3aWR0aD0iNyIgaGVpZ2h0PSIyMCIgeD0iNDYuNSIgeT0iNDAiIGZpbGw9IiNBQkE5QUEiIHJ4PSI1IiByeT0iNSIgdHJhbnNmb3JtPSJyb3RhdGUoMTIwIDU4LjY2IDY1KSIvPjxyZWN0IHdpZHRoPSI3IiBoZWlnaHQ9IjIwIiB4PSI0Ni41IiB5PSI0MCIgZmlsbD0iI0IyQjJCMiIgcng9IjUiIHJ5PSI1IiB0cmFuc2Zvcm09InJvdGF0ZSgxNTAgNTQuMDIgNjUpIi8+PHJlY3Qgd2lkdGg9IjciIGhlaWdodD0iMjAiIHg9IjQ2LjUiIHk9IjQwIiBmaWxsPSIjQkFCOEI5IiByeD0iNSIgcnk9IjUiIHRyYW5zZm9ybT0icm90YXRlKDE4MCA1MCA2NSkiLz48cmVjdCB3aWR0aD0iNyIgaGVpZ2h0PSIyMCIgeD0iNDYuNSIgeT0iNDAiIGZpbGw9IiNDMkMwQzEiIHJ4PSI1IiByeT0iNSIgdHJhbnNmb3JtPSJyb3RhdGUoLTE1MCA0NS45OCA2NSkiLz48cmVjdCB3aWR0aD0iNyIgaGVpZ2h0PSIyMCIgeD0iNDYuNSIgeT0iNDAiIGZpbGw9IiNDQkNCQ0IiIHJ4PSI1IiByeT0iNSIgdHJhbnNmb3JtPSJyb3RhdGUoLTEyMCA0MS4zNCA2NSkiLz48cmVjdCB3aWR0aD0iNyIgaGVpZ2h0PSIyMCIgeD0iNDYuNSIgeT0iNDAiIGZpbGw9IiNEMkQyRDIiIHJ4PSI1IiByeT0iNSIgdHJhbnNmb3JtPSJyb3RhdGUoLTkwIDM1IDY1KSIvPjxyZWN0IHdpZHRoPSI3IiBoZWlnaHQ9IjIwIiB4PSI0Ni41IiB5PSI0MCIgZmlsbD0iI0RBREFEQSIgcng9IjUiIHJ5PSI1IiB0cmFuc2Zvcm09InJvdGF0ZSgtNjAgMjQuMDIgNjUpIi8+PHJlY3Qgd2lkdGg9IjciIGhlaWdodD0iMjAiIHg9IjQ2LjUiIHk9IjQwIiBmaWxsPSIjRTJFMkUyIiByeD0iNSIgcnk9IjUiIHRyYW5zZm9ybT0icm90YXRlKC0zMCAtNS45OCA2NSkiLz48L3N2Zz4=) no-repeat;
    background-size: 100%;
}
.qltt-icon_toast.qltt-loading {
    margin: 30px 0 0;
    width: 38px;
    height: 38px;
    vertical-align: baseline;
}
.qltt-toast__content {
    margin: 0 0 15px;
}

@-webkit-keyframes qlttLoading {
  0% {
    transform: rotate3d(0, 0, 1, 0deg);
  }

  100% {
    transform: rotate3d(0, 0, 1, 360deg);
  }
}

@keyframes qlttLoading {
  0% {
    transform: rotate3d(0, 0, 1, 0deg);
  }

  100% {
    transform: rotate3d(0, 0, 1, 360deg);
  }
}

/******   tag   ******/
.tag{
    padding: 5rem 30px 10px 30px;
    height: 180px;
    span{
        border : 1px solid #ddd;
        display: inline-block;
        width: 62px;
        height: 24px;
        line-height: 24px;
        text-align: center;
        margin: 5px 8px;
        border-radius: 4px;
    }
    .swiper-button-next{
        background-size: $bgSize;
        background-image: url(../images/icon.png);
        background-position: -145px -242px;
    }
    .swiper-button-prev{
        background-size: $bgSize;
        background-image: url(../images/icon.png);
        background-position: -109px -242px;
    }
    .swiper-wrapper{
        height: 100px;
    }
    .swiper-mes{
        line-height: 40px;
        text-align: center;
        i{
            font-style: normal;
        }
    }
}

.tag-check{
    padding-top: 0px;
    .check-txt{
        padding-left: 8px;
        line-height: 4rem;
    } 
    .check-tags{
        span{
            position: relative;
            i{
                display: block;
                width: 13px;
                height: 13px;
                background-size: $bgSize;
                background-image: url(../images/icon.png);
                background-position: -153px -153px;
                position: absolute;
                top: -6px;
                right: -6px;
            }
        }
    }  
    .check-btn{
        @include flexBox();
        padding:0 8px;
        margin-top: 15px;
        a{
            display: block;
            color: #fff;
            @include flex(1);
            font-size: 1.4rem;
            text-align: center;
            &:first-child{
                padding-right:10px;
                strong{
                    display: block;
                    height: 3.6rem;
                    line-height: 3.6rem;
                    border-radius: 4px;
                    background:$yellow;
                }
            }
            &:last-child{
                padding-left:10px;
                strong{
                    display: block;
                    height: 3.6rem;
                    line-height: 3.6rem;
                    border-radius: 4px;
                    background:$red;
                }
            }
        }
    }
}

/******   screen   ******/
.srceen{
    padding-bottom: 6rem;
    text-align: center;
    color: #999;
    .srceen-txt{
        padding: 0 15px;
        margin-bottom: 10px;
        margin-top: 15px;
        color : #333;
    }
    .screen-main{
        .screen-item{
            padding: 0 15px;
            color: rgba(0,0,0,0.6);
            @include flexBox();
            line-height: 4rem;
            &:nth-child(odd){
                background:#fff0ea;
            }
            &>div{
                @include flex(1);
                &.item-col-1{
                    color: rgba(0,0,0,0.8);
                    line-height: 1.8rem;
                    padding-top: 0.2rem;
                    &>span{
                        display: block;
                    }
                }
                &.item-col-4{
                    a{
                        display: inline-block;
                        width: 17px;
                        height: 17px;
                        margin:0 5px;
                        background-size: $bgSize;
                        background-image: url(../images/icon.png);
                        position: relative;
                        top: 5px;
                        &:first-child{
                            background-position:-150px -186px;
                        }
                        &:last-child{
                            background-position:-150px -221px;
                        }
                    }
                }
            }
        }
    }
    .load-more{
        margin-top: 5px;
        color: #999999;
        i{
            display: inline-block;
            width: 18px;
            height: 18px;
            background:url(../images/loading.png) no-repeat;
            background-size : cover;
            position: relative;
            top: 5px;
            right: 5px;
            transform-origin:center center;
            &.active{
                animation:loading 1s linear infinite;
            }
        }
    }
}

@-webkit-keyframes loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/******   result   ******/
.result{
    .result-box{
        &>img{
            width:100% !important;
        }
       .result-main{
            position:absolute;
            top:0;
            left:0;
            right:0;
            @include flexBox();
            flex-direction: column;
            .result-tags{
                @include flex(2);
                padding: 0 40px;
                text-align: center;
                &:before{
                    display:table;
                }
                .result-tags-box{
                    display:table-cell;
                    height:100%;
                    vertical-align: middle;
                    span{
                        display:inline-block;
                        line-height: 20px;
                        padding: 2px 5px;
                        border:1px solid #ddd;
                        color:#fff;
                        border-radius: 4px;
                        background:rgba(255,255,255,0.23);
                        margin:5px 10px;
                    }
                }
            }
            .result-txt{
                @include flex(1);
                padding:0 40px;
                line-height: 20px;
                color:#fff;
            }
       }
       
    }
    .result-btns{
        margin-top: 20px;
        margin-bottom: 10px;
        text-align: center;
        span{
            line-height: 20px;
            padding: 4px 5px 4px 25px;
            background:$red;
            color:#fff;
            border-radius: 4px;
            margin:0 15px;
            background-image:url('../images/icon.png') ;
            background-size : $bgSize;
            background-repeat:no-repeat;
            transition : all .2s;
            &.result-btn-care{
                background-position: -145px -73px;
                &.active{
                    background-color: #e5e5e5;
                }
            }
            &.result-btn-clc{
                background-position: -145px -646px;
                &.active{
                    background-color: #e5e5e5;
                }
            }

        }
    }
}

@media screen and (max-width: 340px){
    .result-tags-box span{
        margin:5px 5px !important;
    }
}